<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Buscar</ion-label>
    <ion-input [(ngModel)]="elementSearch" (ngModelChange)="search()"></ion-input>
    <ion-icon name="close" slot="end" *ngIf="elementSearch != ''" (click)="resetElementSearch()"></ion-icon>
  </ion-item>
  <div *ngIf="elementSearch === ''">
    <div *ngFor="let item of dataPaginated">
      <app-card #cardComponent [text]=item.text [photo]=item.photo></app-card>
    </div>
  </div>
  <div *ngIf="elementSearch != ''">
    <div *ngFor="let item of dataSearch">
      <app-card #cardComponent [text]=item.text [photo]=item.photo></app-card>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>